.services__container {
    display: flex;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

.service {
    background: var(--color-bg-variant);
    border-radius: 2rem;
    border: 1px solid var(--color-primary);
    height: auto;
    width: auto;
    transition: var(--transition);
    margin-bottom: 3rem;
}

.service:hover {
    background: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.service__head {
    background-color: var(--color-primary);
    padding: 2rem;
    border-radius: 2rem 2rem 0 0;
    box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}

.service__head h3 {
    color: var(--color-bg);
    font-size: 1rem;
    text-align: center;
}

.service__list {
    padding: 2rem 1.5rem 1.5rem 2rem;
}

.service__list li {
    display: flex;
    width: auto;
    gap: 1rem;
    margin-bottom: 0.8rem;
}

.service__title-icon {
    color: var(--icon-highlight);
    font-size: 1.5rem;
    margin-right: 1.5rem;
    padding-top: 0.2rem;
}

.service__list-icon {
    color: var(--color-primary);
    margin-top: 2px;
    margin-right: 0.5rem;
}

.service__list p {
    font-size: 0.9rem;
}

h5 {
    text-align: center;
    color: var(--icon-highlight);
}

h2 {
    color: var(--color-white);
    margin-bottom: 1rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 3rem;
}
