header {
    height: 100vh;
    padding-top: 3rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

.name-text-sm {
    text-shadow: var(--text-shadow);
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 6px;
    color: var(--name-text);
}

.name-text-lg {
    text-shadow: var(--text-shadow);
    margin-bottom: 0;
    font-size: 2.7rem;
    font-weight: 700;
    letter-spacing: 8px;
    color: var(--name-text);
}

.job-title {
    text-shadow: var(--text-shadow);
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 10px;
    color: var(--name-text);
}

.job-subtitle {
    text-shadow: var(--text-shadow);
    font-size: 1rem;
    font-weight: 800;
    letter-spacing: 3px;
    color: var(--name-text);
}

/* ########## CTA ############ */

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* ########## HEADER SOCIAL ICONS ############ */

.header__icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    font-size: 2.5rem;
    bottom: 3rem;

}

.header__icons a {
    color: var(--color-white);

}

.header__icons a:hover {
    color: var(--icon-highlight);
}

.header__icons::after {
    content: '';
    width: 2px;
    height: 3rem;
    background: var(--color-white);
}

/* ########## HEADSHOT ############ */

.headshot {
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 1rem;
    border-radius: 8rem 8rem 0 0;
    overflow: hidden;
    padding: 3rem 1rem 1rem;
}

.headshot img {
    margin-top: 0.5rem;
    border-radius: 1rem;
}

@media all and (max-width: 480px) {
    .headshot {
        height: 30rem;
        width: 18rem;
        position: absolute;
        left: calc(50% - 9rem);
        margin-top: 1rem;
        border-radius: 8rem 8rem 0 0;
        overflow: hidden;
        padding: 3rem 1.5rem 1.5rem;
    }

    .header__icons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.8rem;
        position: absolute;
        left: 0;
        font-size: 1.5rem;
    }

    .name-text-lg {
        font-size: 1.7rem;
        letter-spacing: 6px;
    }

    .job-title {
        font-size: 1rem;
    }

    .job-subtitle {
        font-size: 0.8rem;
    }
}
