.category-title {
    width: auto;
    font-size: 1.2rem;
    margin-right: auto;
    margin-bottom: 1rem;
}

.custom-card {
    background: var(--color-primary-variant);
    background-repeat: no-repeat;
    border-radius: 1rem;
    width: 70%;
    margin: auto;
    margin-bottom: 2.5rem;
    padding-left: 4rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    padding-right: 0.5rem;
}

.experience__container {
    color: var(--color-white);
}

.experience__container>div {
    background: var(--color-primary-variant);
    padding: 2rem 3rem;
    border-radius: 1.5rem;
    border: 1p solid transparent;
    transition: var(--transition);
}

.experience__container>div:hover {
    background: transparent;
    color: var(--icon-highlight);
    border-color: var(--icon-highlight);
}

.experience__container>div h3 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: var(--color-white);
}

.experience__content {
    display: grid;
    grid-template-columns: 2fr;
    row-gap: 2rem;
}

.experience__details {
    display: flex;
    gap: 1rem;
    font-weight: 600;
}

.experience__details-icon {
    margin-top: 6px;
    color: var(--icon-highlight);
    margin-right: 1rem;
}
